/* Basislayout */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html, body {
    height: 100%;
    padding: 0;
    background-color: aliceblue;  
    
    color: #303030;
    font: helvetica, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 60%;
    position: relative;

}


article {
    text-align: justify;
}


header {
    color:  lightcoral;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}





/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    overflow: hidden;
}

img.zweefRechts {
    float: right;
    margin-left: 15px;
    overflow: hidden;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 1px solid black;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: darkgray;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
    width: 20%;
    text-align: center;
   
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #31be78
}

nav li a.active {
    background-color: cornflowerblue;
}




